<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Frag.me Url</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
    <!-- <link href="css/bootstrap.css" rel="stylesheet">-->
    <link href="css/style.css" rel="stylesheet">
    <!--
        ------------------------- Se refresca cada minuto ---------------------------------------------------------------------------------

    <meta http-equiv="refresh" content="6" />
    <!-- Meta Data para buscadores Linked flaticon-->
    <meta http-equiv="Content-Language" content="es"/>
    <META name="subject" content="Url Shortener"/>
    <meta name='author' content='Geordie Quiroa'>
    <meta name='designer' content='Geordie Quiroa'>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!--<link href="css/responsive.css" rel="stylesheet">-->
    <script type="text/javascript" src="js/script.js"></script>
    <link href="css/cover.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body class="text-center">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <a class="navbar-brand" href="/index.html" id ="fragme">Frag.me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>  
        
      <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="estadisticas.html">Stats <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/geordie-quiroa/url-shortener" target="_blank">Source Code <span class="fab fa-github"></span></a>
          </li>
        </ul>
      </div>
    </nav>
      <div>
        <script type="text/x-template" id="grid-template">
          <table class="table table-striped table-hover text-centered">
            <thead>
              <tr>
                <th v-for="key in columns"
                  @click="sortBy(key)"
                  :class="{ active: sortKey == key }">
                  {{ key | capitalize }}
                  <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in filteredData">
                <td>{{entry.visits}}</td>
                <td>{{entry.url}}</td>
                <td><a :href="entry.shortenUrl" target="_blank" onClick="refreshNow()">{{entry.shortenUrl}}</a></td>
                <td>{{entry.createdAt}}</td>
              </tr>
            </tbody>
          </table>
        </script>
        
        <div id="datos">
            <form id="search">
              <input name="query" type="text" size="40" placeholder="Buscar en la tabla..." v-model="searchQuery" />
            </form>
          <demo-grid
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
          </demo-grid>
        </div>
    </div>
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/frontEndApp.js"></script>
  </body>
</html>
